In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sns.set (style = 'darkgrid')

In [4]:
df = pd.read_csv('../train.csv')
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [6]:
df.describe()

                 id      target
count   7613.000000  7613.00000
mean    5441.934848     0.42966
std     3137.116090     0.49506
min        1.000000     0.00000
25%     2734.000000     0.00000
50%     5408.000000     0.00000
75%     8146.000000     1.00000
max    10873.000000     1.00000

In [57]:
df.keyword.isna().value_counts()

False    7552
True       61
Name: keyword, dtype: int64

In [29]:
df.keyword.unique().size

222

In [43]:
dfK = df.dropna(subset=['keyword'])
dfK.shape

(7552, 5)

In [63]:
dfK.target.value_counts()

0    4323
1    3229
Name: target, dtype: int64

In [73]:
dfK.where(dfK.target == 1).dropna(how='all').keyword.value_counts().head(10)

wreckage             39
outbreak             39
derailment           39
oil%20spill          37
debris               37
typhoon              37
suicide%20bombing    32
evacuated            32
rescuers             32
suicide%20bomb       32
Name: keyword, dtype: int64

In [74]:
dfK.where(dfK.target == 0).dropna(how='all').keyword.value_counts().head(10)

body%20bags    40
harm           37
armageddon     37
ruin           36
wrecked        36
deluge         36
explode        35
fear           35
siren          35
twister        35
Name: keyword, dtype: int64